html, body, div{
  font-family: "Space Mono", monospace;
}

h1{
  display: inline;
}

.fill { 
  min-height: 100%;
  height: 100%;
}
.cool-text{
  color:red;
}
.background {
  background: linear-gradient(319deg, #11151c, #212d40, #364156, #7d4e57);
  background-size: 800% 800%;
  flex:1 1 auto;
  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  -o-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}
@keyframes AnimationName {
  0%{background-position:0% 2%}
  50%{background-position:100% 99%}
  100%{background-position:0% 2%}
}